<!DOCTYPE html>
<html>
<head>
  <title>Créer apprenant</title>

  <style>
    body{
      font-family: Arial;
      background:#f4f6f9;
      padding:40px;
    }
    .card{
      max-width:500px;
      margin:auto;
      background:white;
      padding:30px;
      border-radius:10px;
      box-shadow:0 5px 20px rgba(0,0,0,0.1);
    }
    input,select{
      width:80%;
      padding:12px;
      margin-top:10px;
      margin-bottom:15px;
      border-radius:6px;
      border:1px solid #ccc;
    }
    button{
      width:100%;
      padding:12px;
      background:#4f46e5;
      color:white;
      border:none;
      border-radius:6px;
      font-size:16px;
    }

    a {
      display: inline-block;
      margin-top: 20px;
      text-decoration: none;
      background: black;
      color: white;
      padding: 10px 15px;
      border-radius: 6px;
      margin-left: 30px;
    }
  </style>
</head>

<body>

<div class="card">
  <h2>Créer un apprenant</h2>

  <form method="POST" action="/apprenants">
    {{ csrfField() }}

    <input name="name" placeholder="Nom" required>
    <input name="lastName" placeholder="Prénom" required>
    <input name="email" type="email" placeholder="Email" required>

    <select name="genre">
      <option value="male">Homme</option>
      <option value="female">Femme</option>
    </select>

    <input name="phone" placeholder="Téléphone">
    <input name="password" type="password" placeholder="Mot de passe">

    <button type="submit">Créer</button>
  </form>
</div>

<a href="/apprenants">← Retour à la liste</a>

</body>
</html>
