




@component("layouts/app", {title: "Accueil"})
@slot('main')
  <h1 class="text-3xl font-bold">Bienvenue sur VDL Soir</h1>
  <h3 class="mt-2 text-slate-600">
    Voici le dashboard de gestion de formation. Utilisez les liens ci-dessus pour naviguer entre les différentes sections.
</h3>
<p>Si vous etes ici ce que vous etes connecter</p>
@endslot
@end