<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Modifier apprenant</title>

  <style>

     a {
      display: inline-block;
      margin-top: 20px;
      text-decoration: none;
      background: black;
      color: white;
      padding: 10px 15px;
      border-radius: 6px;
      margin-left: 30px;
    }

    body{
      font-family: Arial;
      background:#f4f6f9;
      padding:40px;
    }
    .card{
      max-width:500px;
      margin:auto;
      background:white;
      padding:30px;
      border-radius:10px;
      box-shadow:0 5px 20px rgba(0,0,0,0.1);
    }
    input,select{
      width:100%;
      padding:12px;
      margin-top:10px;
      margin-bottom:15px;
      border-radius:6px;
      border:1px solid #ccc;
    }
    button{
      width:100%;
      padding:12px;
      background:#4f46e5;
      color:white;
      border:none;
      border-radius:6px;
      font-size:16px;
    }
  </style>
</head>

<body>

<div class="card">
  <h2>Modifier un apprenant</h2>

  <form method="POST" action="/apprenants/{{ apprenant.id }}">
    {{ csrfField() }}
    <input type="hidden" name="_method" value="PUT">

    <input name="name" placeholder="Nom" value="{{ apprenant.name }}" required>
    <input name="lastName" placeholder="Prénom" value="{{ apprenant.lastName }}" required>
    <input name="email" type="email" placeholder="Email" value="{{ apprenant.email }}" required>

    <select name="genre">
      <option value="male" {{ apprenant.genre === 'male' ? 'selected' : '' }}>Homme</option>
      <option value="female" {{ apprenant.genre === 'female' ? 'selected' : '' }}>Femme</option>
    </select>

    <input name="phone" placeholder="Téléphone" value="{{ apprenant.phone }}">
    <input name="password" type="password" placeholder="Mot de passe (laisser vide pour ne pas changer)">

    <button type="submit">Enregistrer</button>
  </form>
</div>

<a href="/apprenants">← Annuler</a>

</body>
</html>
